.akeneo-float-left {
	float: left;
	margin: 0px 15px 15px 0px;
	.select2-container {
		width: 139px !important;
		user-select: none !important;
	}
}
#akeneoLocalesControl {
	margin: 0 0 15px 169px;
}
.akeneo-locale-item {
	margin-left: 169px;
}
.locale-field {
	width: 139px;
}
.land-box {
	margin-right: 0px;
}
.connection-status.alert {
	display: none;
}
#akeneoLocalesList {
	display: none;
}
.orolocales-status {
	display: none;
	margin-left: 169px;
	width: 280px;
	display: none;
}
.control-group-choice {
	.controls {
		padding-top: 7px;
	}
}
.locales-status.alert-warning {
	margin-left: 169px;
	width: 280px;
	display: none;
}
#akeneo-locales-exceeded {
	margin-left: 169px;
	width: 280px;
	display: none;
}
.akeneo-locale-input {
	width: 139px !important;
	user-select: none !important;
}
