.akeneo-float-left {
	float: left;
	margin: 0px 15px 15px 0px;
	.select2-container {
		width: 139px !important;
		user-select: none !important;
	}
}
.locale-field {
	width: 139px;
}
.land-box {
	margin-right: 0px;
}
.connection-status.alert {
	display: none;
}
#akeneoLocalesList {
	display: none;
}
.orolocales-status {
	display: none;
	margin-top: 10px;
	width: 280px;
}
.control-group-choice {
	.controls {
		padding-top: 7px;
	}
}
.locales-status.alert-warning {
	margin-top: 10px;
	width: 280px;
	display: none;
}
#akeneo-locales-exceeded {
	margin-top: 10px;
	width: 280px;
	display: none;
}
.akeneo-locale-input {
	width: 139px !important;
	user-select: none !important;
}

.akeneo-settings {
	.check-connection-btn {
		margin-top: 10px;
	}

	.fa-offset-end {
		margin-right: 5px;
	}

	.refresh {
		padding-bottom: 5px;
	}
}
